button {
    background-color: hwb(159 15% 69%);
    color: white;
    display: flex;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    margin: 15px 0px;
    font-size: 13px;
    
    img {
        height: 12px;
        padding-right: 7px;
       margin-top: 2px;
    }
    .btnContent {
        display: flex;
        margin: auto;
    }
}